@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div class="text-center">
    <p><b>Name:</b> @HttpContext.Session.GetString("_Name");<b>Age:
    </b> @HttpContext.Session.GetInt32("_Age").ToString()</p>
</div>
